@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati:wght@100;200;300;400;500;600;700;800;900&display=swap");
$times_roman: "Noto Serif Gujarati",
serif;
$poppin: "Poppins",
sans-serif;
$black: #000;
$white: #fff;
$white-50: #ffffff80;
$gray: #888888;
$purple: #5ac4be;
$light_purple: #f6ecf5;
$red: #ff5159;
$green: #5ac4be;
$pink:#e256ad;